body {
    position: relative;
    z-index: 1;
}

.Cart_contant-none {
    display: none;
}

.Cart_Contant {
    display: block;
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 100%;
    background-color: white;
}

.cart-icon svg {
    font-size: 35px;
    cursor: pointer;
    margin-right: 15px;
}

.cart-icon h3 {
    color: #010148;
    padding-left: 15px;
    font-weight: 600;
}

.cart-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
    background-color: #E8EEE4;
}

.cart-item-contant {
    height: 75vh;
    overflow: auto;
}

.cart-item {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    padding: 15px 5px;

}

.cart-img img {
    width: 95%;
}
.cart-delete-icon{
    text-align: center;
}
.cart-delete-icon svg {
    font-size: 25px;
    cursor: pointer;
    color: #6a6a6b;
}

.cart-footer {
    position: absolute;
    bottom: 20px;
    left: 40px;

}

.cart-footer h4 {
    padding: 15px;
    font-weight: 600;
    color: #010148;
}

.cart-footer button {
    text-align: center;
    margin-right: 60px;
    padding: 8px 18px;
    border: 1px solid #4FC396;
    border-radius: 30px;
    text-transform: uppercase;

}

.view-cart {
    background-color: #4FC396;
    color: white;
    transition: all 0.3s ease-in-out;
}

.check-out {
    color: #4FC396;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.view-cart:hover {
    background-color: white;
    color: #4FC396;

}

.check-out:hover {
    background-color: #4FC396;
    color: white;
}