/* Extra small devices (phones, 800px and down) */
@media only screen and (max-width: 700px) {
    .crid-contant {
        width: 85%;
        height: 300px;
        border: 1px solid #FFC737;
        border-radius: 7px;
        text-align: center;
        position: relative;

    }

    .productlist-carousel {
        display: flex;
        justify-content: center;
    }

    .productlist-carousel .owl-theme {
        width: 70%;
    }
    .fa-chevron-right {
        position: absolute;
        top: 40%;
        right: 5px;
        background-color: #E5E5E5;
        padding: 10px;
        font-size: 20px;
        border-radius: 50%;
    }

}

@media only screen and (min-width: 700px) {
    .crid-contant {
        width: 95%;
        height: 300px;
        border: 1px solid #FFC737;
        border-radius: 7px;
        text-align: center;
        position: relative;

    }

    .fa-chevron-right {
        position: absolute;
        top: 40%;
        right: -10px;
        background-color: #E5E5E5;
        padding: 10px;
        font-size: 20px;
        border-radius: 50%;
    }
}


.fa-chevron-left {
    position: absolute;
    top: 40%;
    left: -10px;
    background-color: #E5E5E5;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
}

.fa-chevron-left:hover {
    background-color: #FFC737;
}


.fa-chevron-right:hover {
    background-color: #FFC737;
}


.crid-contant img {
    width: 100%;
    height: 50%;
    pointer-events: none;
    border-radius: 7px;
}

.crid-contant h2 {
    padding-top: 20px;
    font-size: 20px;
    color: #010148;
}

.crid-contant p {
    font-weight: 600;
    color: #FFC737;
    line-height: 5px;
}

.crid-contant h3 {
    color: #FFC737;
    line-height: 10px;
}

.crid-icon {
    display: none;
    position: absolute;
    top: 10%;
    left: 25%;

}

.crid-contant:hover .crid-icon {
    display: block;
}

.crid-contant:hover button.more {
    display: block;
}

.crid-icon svg {
    padding: 6px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #010148;
    color: white;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.crid-icon svg:hover {
    background-color: #ffc637b0;

}

button.more {
    border: none;
    padding: 9px 40px;
    color: #ffffff;
    background-color: green;
    border-radius: 30px;
    position: absolute;
    bottom: 5px;
    z-index: 2;
    right: 20%;
    display: none;
}

button.more:hover {
    background-color: rgba(0, 128, 0, 0.849);
}

/* Extra small devices (phones, 800px and down) */
@media only screen and (max-width: 799px) {}

/* Small, large and mediun devices (portrait tablets and , 800px and up) */
@media only screen and (min-width: 800px) {}